.medappoint-button-content {
    .d-inline-block{
        width: 100%;
    }
   
    .hidden-inp {
        width: 0;
        opacity: 0;
        position: absolute;
    }
 
    button {
        width: 120px;
        margin-right: 15px;
        margin-top: 15px;
        margin-bottom: -30px
    }
}
