<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="remark">
            <h2><span jhiTranslate="medappointApp.remark.detail.title">Remark</span> {{ remark.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="medappointApp.remark.createdAt">Created At</span></dt>
                <dd>
                    <span>{{ remark.createdAt }}</span>
                </dd>
                <dt><span jhiTranslate="medappointApp.remark.colorCode">Color Code</span></dt>
                <dd>
                    <span>{{ remark.colorCode }}</span>
                </dd>
                <dt><span jhiTranslate="medappointApp.remark.title">Title</span></dt>
                <dd>
                    <span>{{ remark.title }}</span>
                </dd>
                <dt><span jhiTranslate="medappointApp.remark.content">Content</span></dt>
                <dd>
                    <span>{{ remark.content }}</span>
                </dd>
                <dt><span jhiTranslate="medappointApp.remark.patient">Patient</span></dt>
                <dd>
                    <div *ngIf="remark.patientId">
                        <a [routerLink]="['/patient', remark.patientId, 'view']">{{ remark.patientId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/remark', remark.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
