/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background-size: contain;
  }
}

.logo-img {
  height: 45px;
  width: 100%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  background: url("../../content/images/logo.png") no-repeat center center;
  background-size: contain;
}

.row.justify-content-center {
  width: 50%;
  margin: 0 auto;
}