.medappoint-colorpicker-content {
    .color-picker {
        position: relative;
        display: block;
        width: 105px;
        height: 46px;
        border: 1px solid #c9c9c9;
        cursor: pointer;
        &::after {
            content: "";
            display: inline-block;
            margin-left: 0.255em;
            border-top: 0.4em solid;
            border-right: 0.4em solid transparent;
            border-bottom: 0;
            border-left: 0.4em solid transparent;
            position: absolute;
            right: 5px;
            top: 20px;
            cursor: pointer;
            color: #46555d;
        }
        input {
            pointer-events: none !important;
            width: 38px;
            height: 40px;
            border: none;
            position: absolute;
            left: 5px;
            top: 3px;
            padding: 0;
        }
    }
}
