.left-bar-container {
    position: absolute;
    display: none;
    height: calc(100vh - 68px);
    z-index: 99999999;
    width: 80px;
    box-shadow: 3px 0px 2px rgba(0, 0, 0, 0.2);
    background: #46555d;
    .entities-container {
        display: none;
        background: #0e9ab8;
        left: 80px;
        position: absolute;
        list-style-type: none;
        top: 14px;
        padding:0;
        color: #f4f6f7;
        font-family: 'Roboto';
        &:hover {
            display: block !important;
        }
        li {
            a {
                color: #e7eced;
                &:hover {
                    transition: 0.5s;
                    background-color:#e7eced !important;
                    color: #000;
                }
            }
        }
    }
    .left-bar-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        div:not(.cp) {
            font-size: 22px;
            color: #fff;
            margin-left: 30px;
        }
        div.cp {
            margin: 15px 0;
            position: relative;
            display: flex;
            align-items: center;
            &:first-child {
                margin-top: 25px;
            }
            img:not(.arrow-right) {
                width: 80px;
            }
            .arrow-right {
                width: 30px;
            }
        }
    }
    .file-text {
        color: #fff;
        font-size: 46px;
    }
}

.left-bar-container.show {
    display: block !important;
}

.navbar-toggler.hide {
    display: none !important;
}

.navbar-toggler {
    display: none;
}

.close-navbar {
    position: absolute;
    left: 0;
    z-index: 99999;
    left: 65px;
    color:#fff;
    display: none;
}

@media screen and (max-width: 600px) {
    .left-bar-container {
        width: 100%;
        .left-bar-content {
            align-items: flex-start;
            .settings-icon-container {
                left: 0;
            }
        }
    }
    
}

.settings-icon-container,
.invoice-icon-container {
    position: relative;
}

.settings-icon-container:hover > .entities-container {
    display: block !important;
}

.invoice-icon-container:hover > .entities-container {
    display: block !important;
}
